.link-hover-five {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    padding: 1rem 2rem;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 180px;
} 
  
.link-hover-five .text {
    transition: 0.5s;
}

.link-hover-five:before, .link-hover-five:after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    border-radius: 100%;
}

.link-hover-five:hover .text {
    color: white;
}

.link-hover-five:hover:before, .link-hover-five:hover:after {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.link-hover-five:hover:before {
    -webkit-animation: 2s noway forwards;
    animation: 2s noway forwards;
}

.link-hover-five:hover:after {
    -webkit-animation: 0.5s wow 2s forwards;
    animation: 0.5s wow 2s forwards;
}

.link-hover-five-primary:before, .link-hover-five-primary:after {
    background: #3498DB;
}
  
@-webkit-keyframes wow {
    to {
      height: 20rem;
      width: 20rem;
    }
}
  
@keyframes wow {
    to {
      height: 20rem;
      width: 20rem;
    }
}

@-webkit-keyframes noway {
    to {
      height: 1rem;
      width: 1rem;
    }
}

@keyframes noway {
    to {
      height: 1rem;
      width: 1rem;
    }
}
  