.centered, .link-hover, .link-hover .qube .front::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  
.link-hover{
    font-family: "Raleway", sans-serif;
}
  
.full, .link-hover .qube .front, .link-hover .qube .back, .link-hover .qube .front::before {
    width: 100%;
    height: 100%;
}
  
.link-hover .qube {
    position: relative;
    height: 60px;
    width: 245px;
    perspective: 1800px;
}

.link-hover .qube .front, .link-hover .qube .back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateX(-90deg);
    transition: transform 0.3s ease;
    position: absolute;
    color: #FFF;
    line-height: 60px;
    text-align: center;
}

.link-hover .qube .front {
    background-color: #d35400;
}

.link-hover .qube .front::before {
    content: '';
    display: block;
    z-index: -1;
}

.link-hover .qube .front::after {
    background: #FFF;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
}

.link-hover .qube .back {
    background-color: #f5b041;
    color: #ffffff;
    transform: rotateX(0deg) translateZ(60px);
}

.link-hover .qube:hover .front {
    transform: rotateX(0deg) translateZ(30px);
}

.link-hover .qube:hover .back {
    transform: rotateX(90deg) translateZ(30px);
}

.link-hover:active .front {
    border-radius: 0;
    background-color: transparent;
    color: #ffffff;
}

.link-hover:active .front::before {
    background-color: #f5b041;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.link-hover:active .front::after {
    left: 120%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}