.link-hover-four {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    padding: 1rem 2rem;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 180px;
}
  
.link-hover-four .text {
    transition: 0.5s;
}
  
.link-hover-four .left, .link-hover-four .right, .link-hover-four:before, .link-hover-four:after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    transition: 0.5s;
}
  
.link-hover-four:before, .link-hover-four:after {
    content: "";
}
  
.link-hover-four:hover .left, .link-hover-four:hover .right {
    top: 0;
    width: 2px;
    height: 100%;
}

.link-hover-four:hover .left {
    left: 0;
}
  
.link-hover-four:hover .right {
    left: calc(100% - 2px);
}
  
.link-hover-four:hover:before, .link-hover-four:hover:after {
    height: 2px;
    width: 100%;
    left: 0;
}
  
.link-hover-four:hover:before {
    top: 0;
}

.link-hover-four:hover:after {
    top: calc(100% - 2px);
}

.link-hover-four-primary:hover .text {
    color: #3498DB;
}

.link-hover-four-primary .left, .link-hover-four-primary .right, .link-hover-four-primary:before, .link-hover-four-primary:after {
    background: #3498DB;
}