.link-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    padding: 1rem 2rem;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 180px;
}
  
.link-hover .text {
    transition: 0.5s;
}
  
.link-hover .left, .link-hover .right, .link-hover:before, .link-hover:after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    transition: 0.5s;
}
  
.link-hover:before, .link-hover:after {
    content: "";
}
  
.link-hover:hover .left, .link-hover:hover .right {
    top: 0;
    width: 2px;
    height: 100%;
}

.link-hover:hover .left {
    left: 0;
}
  
.link-hover:hover .right {
    left: calc(100% - 2px);
}
  
.link-hover:hover:before, .link-hover:hover:after {
    height: 2px;
    width: 100%;
    left: 0;
}
  
.link-hover:hover:before {
    top: 0;
}

.link-hover:hover:after {
    top: calc(100% - 2px);
}

.link-hover-orange:hover .text {
    color: #f5b041;
}

.link-hover-orange .left, .link-hover-orange .right, .link-hover-orange:before, .link-hover-orange:after {
    background: #f5b041;
}