.effect .buttons {
    display: flex;
    justify-content: center;
}
  
.effect a {
    text-decoration: none !important;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: #212121;
    border: 2px solid #212121;
}
  
.effect a i {
    position: relative;
    z-index: 3;
}
  
.effect a:last-child {
    margin-right: 0px;
}
  
.effect a:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.effect a i {
    display: inline-block;
    vertical-align: middle;
}
  
.effect.thurio a {
    transition: border-radius 0.2s linear 0s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.effect.thurio a i {
    transition: -webkit-transform 0.01s linear 0s;
    transition: transform 0.01s linear 0s;
    transition: transform 0.01s linear 0s, -webkit-transform 0.01s linear 0s;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.effect.thurio a:hover {
    border-radius: 0px;
    color: #212121;
}