.link-hover-three {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    padding: 1rem 2rem;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 180px;
}
  
.link-hover-three .text {
    color: #17202A;
    transition: 0.5s;
}
  
.link-hover-three:after, .link-hover-three:before {
    content: "";
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 100%;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: 0.5s;
}
  
.link-hover-three:before {
    top: 0;
}
  
.link-hover-three:after {
    bottom: 0;
}
  
.link-hover-three:hover:before, .link-hover-three:hover:after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
  
.link-hover-three-primary:after, .link-hover-three-primary:before {
    background-color: #3498DB;
}

.link-hover-three-primary:hover .text {
    color: #3498DB;
}